:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --primary: rgb(0, 119, 231);
    --secondary: rgb(0, 216, 245);
    --red: rgb(165, 0, 0);
    --orange: rgb(194, 126, 0);
    --purple: rgb(96, 0, 160);
    --green: rgb(0, 124, 0);
    --grey: rgb(187, 187, 187);

    --font: 'Roboto', sans-serif;
    --radius: 10px;
    --filter: blur(10px);
    --transparent-bg: rgba(255, 255, 255, 0.65);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

html {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    max-width: 700px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Navigation */
.main_nav {
    position: absolute;
    bottom: 1.5rem;
    background-color: var(--transparent-bg);
    backdrop-filter: var(--filter);
    margin: 0 auto;
    border-radius: var(--radius);
    padding: .8rem;

    display: flex;
    align-items: center;
    width: 10rem;
    gap: 2rem;
    justify-content: center;
    box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.10);
}

.main_nav_link {
    width: 1.2rem;
    height: 1.2rem;
    text-decoration: none;
    color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main */
.main {
    width: 100%;
    height: 100%;
    /* background-color: pink; */
    overflow-y: scroll;
}

.main {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.main::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

/* Error */
.main_auth_error {
    display: flex;
    align-items: center;
    gap: .6rem;
    padding: .5rem 2rem;
    justify-content: center;
}

.main_auth_error_message {
    font-size: .8rem;
    font-weight: 700;
    color: var(--red);
}

.main_auth_error_link {
    font-size: .8rem;
    color: var(--secondary);
    font-weight: 700;
    text-decoration: none;
}

/* Banner */
.main_banner {
    height: 15rem;
    width: 100%;
    background: linear-gradient(90deg, var(--primary) 100%, var(--secondary) 100%) ;
    border-radius: var(--radius);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin: 1rem 0;
    padding-bottom: 1.5rem;
    background-image: url('https://images.unsplash.com/photo-1486520299386-6d106b22014b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80');
    background-size: cover;
    background-repeat: no-repeat;
}

.main_banner_header {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .3rem;
}

.main_banner_header_text {
    font-size: 1.5rem;
}

/* Links */
.main_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_links_link {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--grey);
    cursor: pointer;
}

/* Income */
.main_income {
    width: 100%;
    margin: .8rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main_income_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main_income_item_header {
    display: flex;
    align-items: center;
    gap: .7rem;
}

.main_income_item_header_circle {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background-color: var(--orange);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    font-weight: 700;
    color: white;
}

.main_income_item_header_info {
    display: flex;
    flex-direction: column;
}

.main_income_item_header_info_title {
    font-size: .9rem;
}

.main_income_item_header_info_text {
    font-size: .9rem;
    font-weight: 700;
    color: var(--grey);
}

.main_income_item_price {
    font-size: 1.1rem;
    color: var(--green);
}

.active {
    color: var(--primary);
    font-weight: 900;
}

.main_empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_empty_container {
    width: 12rem;
    height: 12rem;
}

.main_empty_text {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--orange);
}

/* Expenses */
.main_expenses {
    width: 100%;
    margin: .8rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main_expenses_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main_expenses_item_header {
    display: flex;
    align-items: center;
    gap: .7rem;
}

.main_expenses_item_header_circle {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background-color: var(--orange);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    font-weight: 700;
    color: white;
}

.main_expenses_item_header_info {
    display: flex;
    flex-direction: column;
}

.main_expenses_item_header_info_title {
    font-size: .9rem;
}

.main_expenses_item_header_info_text {
    font-size: .9rem;
    font-weight: 700;
    color: var(--grey);
}

.main_expenses_item_price {
    font-size: 1.1rem;
    color: var(--red);
}

.food {
    background-color: var(--orange);
    color: white;
}

.entertainment {
    background-color: var(--green);
    color: white;
}

.clothing {
    background-color: var(--purple);
    color: white;
}

.rent {
    background-color: var(--secondary);
    color: white;
}

.water {
    background-color: var(--red);
    color: white;
}

.electricity {
    background-color: var(--primary);
    color: white;
}

/* Budget */
.main_budget {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    align-items: center;
    width: 100%;
}

.main_budget_title {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

.main_budget_input {
    width: 100%;
    padding: .7rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid var(--grey);
    border-radius: calc(var(--radius) / 2);
}

.main_budget_input:focus-within {
    border: 1px solid var(--green);
    color: var(--green);
}

.main_budget_error {
    margin: .4rem 0;
    color: var(--red);
    font-size: .8rem;
    font-weight: 700;
}

.main_budget_button {
    width: 100%;
    margin: 1rem 0;
    padding: .8rem;
    border-radius: calc(var(--radius) / 2);
    outline: none;
    border: none;
    background-color: var(--primary);
    transition: .3s all ease-in-out;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
}

.main_budget_button:hover {
    background-color: var(--secondary);
    color: var(--text-color);
}

/* Add */
.main_add {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    align-items: center;
    width: 100%;
}

.main_add_title {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

.main_add_select_container {
    margin: .6rem 0;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    width: 100%;
}

.main_add_select {
    width: 100%;
    padding: .7rem;
    border-radius: calc(var(--radius) / 2);
    border: 1px solid var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_add_select_text {
    font-size: 1rem;
}

.main_add_options {
    width: 100%;
    padding: .7rem;
    border-radius: calc(var(--radius) / 2);
    border: 1px solid var(--grey);
    display: flex;
    flex-direction: column;
    gap: .4rem;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.10);
}

.main_add_option {
    width: 100%;
    margin: .2rem 0;
}

.main_add_option_text {
    font-size: 1rem;
    font-weight: 700;
}

.main_add_option_text:hover {
    color: var(--orange);
}

.main_add_select_icon {
    color: var(--orange);
    font-size: .9rem;
    font-weight: 700;
}

.main_add_expense_select_container {
    margin: .4rem 0;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    width: 100%;
}

.main_add_expense_select {
    width: 100%;
    padding: .7rem;
    border-radius: calc(var(--radius) / 2);
    border: 1px solid var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_add_expense_select_text {
    font-size: 1rem;
}

.main_add_expense_options {
    width: 100%;
    padding: .7rem;
    border-radius: calc(var(--radius) / 2);
    border: 1px solid var(--grey);
    display: flex;
    flex-direction: column;
    gap: .4rem;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.10);
}

.main_add_expense_option {
    width: 100%;
    margin: .2rem 0;
}

.main_add_expense_option_text {
    font-size: 1rem;
    font-weight: 700;
}

.main_add_expense_option_text:hover {
    color: var(--orange);
}

.main_add_expense_select_icon {
    color: var(--orange);
    font-size: .9rem;
    font-weight: 700;
}

.main_add_input {
    width: 100%;
    padding: .7rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid var(--grey);
    border-radius: calc(var(--radius) / 2);
}

.main_add_input:focus-within {
    border: 1px solid var(--green);
    color: var(--green);
}

.main_add_error {
    margin: .4rem 0;
    color: var(--red);
    font-size: .8rem;
    font-weight: 700;
}

.main_add_button {
    width: 100%;
    margin: 1rem 0;
    padding: .8rem;
    border-radius: calc(var(--radius) / 2);
    outline: none;
    border: none;
    background-color: var(--primary);
    transition: .3s all ease-in-out;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
}

.main_add_button:hover {
    background-color: var(--secondary);
    color: var(--text-color);
}

.hideContainer {
    display: none;
}

@media screen and (max-width: 480px) {
    .main {
        padding: 0 1rem;
        width: 100vw;
    }
}